<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="~{HOME}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="noidung" id="Browse" th:fragment="Browse" >
                   <h3><b>The MuSic Records Catalog</b></h3>
                   <div th:each="Music:${listMusic}">
                   <p><b th:text="${Music.productCode}"></b><br/>
                   <a th:href="@{'/index/listen.htm'(${Music.productCode})}"><b th:text="${Music.productDescription}"/></a><br/><br/>
                   </div>
                   <p style="text-align: center;">----------------------------------</p>
				</div>
</body>
</html>