<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="listen1">
 <div class="col-md-6" >
		<img th:src="@{'/static/images/'+${MA}+'.jpg'}" alt="anh bai hat" width="200px" height="100px"/>
			</div>	
				<div class="col-md-6" >
					<p><b th:text="${MA}"></b></p>
					
					<p><b th:text="${ten}"></b></p>
                     <p>Audio CD</p>
                     <p th:utext="${ten1}"/>
				</div>
</div>
</body>
</html>